# Turn Rewrite Engine On
RewriteEngine on

RewriteRule ^index/([a-z]) index?p=$1

# RewriteCond %{REQUEST_FILENAME} !-d for all pages by removing the extension (.php - .mp4)
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME}\.mp4 -f
RewriteRule ^(.*)$ $1.mp4

# ==================== Friendly Rewritten Url's ==================== #
RewriteRule ^events$ index?p=events
RewriteRule ^terms$ index?p=terms
RewriteRule ^editors$ index?p=editors
RewriteRule ^about-us$ index?p=about-us
RewriteRule ^about-publication$ index?p=about-publication
RewriteRule ^about-the-company$ index?p=about-the-company
RewriteRule ^contact-us$ index?p=contact-us
RewriteRule ^forgot-password$ auth?sign=forgot-password
RewriteRule ^signin$ auth?sign=in
RewriteRule ^signup$ auth?sign=up
RewriteRule ^signout$ auth?sign=out
RewriteRule ^incorrect-page$ index?p=incorrect-page

# Redirect users after getting error 404 [page not found], and 403 [access is forbidden]
# ErrorDocument 403 http://sudanacademicjournal.net/incorrect-page
# ErrorDocument 404 http://sudanacademicjournal.net/incorrect-page
# ErrorDocument 500 http://sudanacademicjournal.net/incorrect-page
# Edit the 403, 404, 500 to actual pages
# 404 => Not Found Page.
# 403 => Forbidden to access.
# 500 => Internal Server Error.
ErrorDocument 403 http://dev.com/SudanAcademicJournal/incorrect-page
ErrorDocument 404 http://dev.com/SudanAcademicJournal/incorrect-page
ErrorDocument 500 http://dev.com/SudanAcademicJournal/incorrect-page

# Prevent users from entering specific directories
Options -Indexes