@charset "UTF-8";
/* Import All Fonts */
/* Raleway + Cairo */
@import 'https://fonts.googleapis.com/css?family=Cairo|Raleway';
@import 'https://fonts.googleapis.com/css?family=Arvo';
/* Global Fonts */
* {
  font-family: "Raleway", "Cairo", sans-serif;
}

/* Global Sticky Footer */
/* Mohammed Hayder CSS Framework Start */
* {
  outline: none !important;
}

/* Right to left Text */
.rtl {
  direction: rtl;
  text-align: right;
}

.no-radius {
  border-radius: 0;
}

.resize-v {
  resize: vertical;
}

.p {
  padding-top: 20px;
  padding-bottom: 50px;
}

.mb {
  margin-bottom: 50px;
}

.noColPadd {
  padding-right: 0;
  padding-left: 0;
}

.note {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}

.note-primary {
  color: #3387D6;
}

.note-info {
  color: #44C0DB;
}

.note-warning {
  color: #F04A01;
}

/* Mohammed Hayder CSS Framework End */
html, body {
  display: table;
  height: 100%;
  width: 100%;
  background-color: #FBFBFB;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a:hover {
  text-decoration: none;
}

footer {
  display: table-row;
}

/* Header */
/* Top Navigation */
.topNav {
  padding: 10px 0 0;
}

/* ISSN Code Start */
.issnCode {
  width: 50%;
}
.issnCode label {
  margin-right: 7px;
}
.issnCode b {
  font-family: monospace, sans-serif;
}
.issnCode b:first-of-type:after {
  display: inline-block;
  content: "|";
  margin: 0 12px;
}

/* ISSN Code End */
/* Authentication Links Start */
.authLinks {
  width: 50%;
  text-align: right;
}

.authLinks ul li {
  display: inline-block;
}
.authLinks ul li:first-of-type {
  margin-right: 20px;
}
.authLinks ul li a:hover {
  text-decoration: underline;
}

/* Authentication Links End */
/* Middle Header Start */
.middleHeader {
  padding: 10px 0;
}

/* Middle Header End */
/* Logo Start */
.logo img {
  width: 120px;
  height: 120px;
}

/* Logo End */
/* Journal Name Start */
.journal-name p {
  font-size: 21px;
  font-weight: bold;
}
@media screen and (max-width: 991px) {
  .journal-name p {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) {
  .journal-name p {
    font-size: 13px;
    font-weight: normal;
  }
  .journal-name p:first-of-type {
    padding-top: 20px !important;
  }
}
@media screen and (max-width: 360px) {
  .journal-name p {
    font-size: 10px;
    font-weight: normal;
  }
  .journal-name p:first-of-type {
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 767px) {
  .journal-name p:first-of-type {
    padding-top: 50px;
  }

  .logo {
    text-align: center;
  }
}
/* Journal Name End */
/* Main Navigation */
.homeBtn {
  display: none;
}
.homeBtn a {
  display: block;
  font-size: 25px;
  padding-top: 7px;
}

.mainNav {
  position: static;
  transition: position 0.5s ease-in-out;
}
@media screen and (min-width: 792px) and (max-width: 991px) {
  .mainNav .container {
    width: auto;
  }
}

.fixedMainMenu {
  position: fixed;
  top: -2px;
  right: 0px;
  width: 100%;
  background-color: #fdfdfd;
  z-index: 999;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
.fixedMainMenu .navbar {
  min-height: 40px;
  margin-bottom: 0;
}
.fixedMainMenu .navbar-form {
  margin-top: 6px;
  margin-bottom: 0;
}
.fixedMainMenu .navbar-nav > li > a {
  padding-top: 11px;
  padding-bottom: 11px;
}
.fixedMainMenu .homeBtn {
  display: inline;
}
@media screen and (max-width: 767px) {
  .fixedMainMenu .homeBtn a {
    padding-top: 12px;
    padding-left: 20px;
  }
}

.navbar-default {
  background-color: #F6F6F6;
  border-color: #f3f3f3;
}

/* breakingNews Start */
.breakingNews {
  border-right: 0;
}
.breakingNews .bn-title > h2 > a {
  color: #FFF;
}

/* breakingNews End */
/* Side Bar */
.sideBar {
  max-width: 577px;
  border: 1px solid #337AB7;
  margin-bottom: 30px;
  background-color: #FFF;
  overflow: hidden;
  /* Sidebar Heading */
  /* Sidebar Body */
}
@media screen and (max-width: 991px) {
  .sideBar {
    margin-top: 20px;
  }
}
.sideBar a.sideBarHeading {
  display: block;
  font-size: 21px;
  font-weight: bold;
  background-color: #337AB7;
  color: #FFF;
  padding: 20px;
}
.sideBar .last-published {
  padding-left: 0;
}
.sideBar .last-published li {
  list-style-type: none;
  border-bottom: 1px solid #EEE;
}
.sideBar .last-published li:hover {
  background-color: #DADEE2;
}
.sideBar .last-published li a {
  display: inline-block;
  padding: 15px;
  width: 100%;
}
.sideBar .last-published li a:hover {
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #2786C9;
  padding: 20px;
}
footer * {
  color: #DBE5EB;
}
footer .container {
  padding: 50px;
}
footer .footerLinks h3, footer .footerContact h3, footer .footerAbout h3 {
  margin-bottom: 15px;
}
footer .footerLinks p, footer .footerContact p, footer .footerAbout p {
  line-height: 2;
}
footer .footerLinks ul, footer .footerContact ul, footer .footerAbout ul {
  padding-left: 0;
}
footer .footerLinks ul li, footer .footerContact ul li, footer .footerAbout ul li {
  list-style-type: none;
}
footer .footerLinks ul li a, footer .footerContact ul li a, footer .footerAbout ul li a {
  color: #FFF;
  font-weight: bold;
}
footer .footerLinks ul li a:hover, footer .footerContact ul li a:hover, footer .footerAbout ul li a:hover {
  color: inherit;
}
footer .footerLinks {
  padding-left: 0;
}
footer .footerLinks li, footer .footerLinks li a {
  display: inline-block;
}
footer .footerLinks li a {
  margin: 5px;
  padding: 10px;
  background-color: #2173ad;
  border-radius: 10px;
}
footer .footerContact li {
  padding-bottom: 20px;
}
@media screen and (max-width: 992px) {
  footer .footerLinks, footer .footerContact, footer .footerAbout {
    text-align: center;
  }
}
footer .copyrights {
  padding: 15px 0 5px;
  background-color: #1f6a9e;
}
footer .copyrights p {
  margin-bottom: 0;
}
footer .copyrights sub {
  color: #3581B5;
}

/* Home Page */
.homeArticles {
  padding: 0;
}
.homeArticles ul {
  padding-left: 0;
}
.homeArticles li {
  list-style-type: none;
}
.homeArticles li a {
  display: list-item;
  border-bottom: 1px solid #CCC;
  padding: 20px;
}

/* Authentication Pages (sign-in / sign-up) */
/* Sign Up page Start */
.intl-tel-input {
  width: 100%;
}

.iti-flag {
  background-image: url("../img/flags.png");
}

/* Sign Up page End */
/* Terms Page */
.terms {
  /* Advices Start */
  /* Advices End */
  /* English Terms Start */
  /* English Terms End */
  /* Arabic Terms Start */
  /* Arabic Terms End */
}
.terms .advices ol {
  padding-left: 10px;
}
.terms .advices ol li {
  font-size: 16px;
  padding: 10px 0;
}
.terms .terms-en ol {
  padding-left: 10px;
}
.terms .terms-en ol li {
  font-size: 16px;
  padding: 10px 0;
}
.terms .terms-ar ol {
  padding-right: 10px;
}
.terms .terms-ar ol li {
  list-style-type: arabic-indic;
  font-size: 16px;
  padding: 10px 0;
}

/* Submit Article Page */
/* Submit Article Container */
.submArtCont {
  padding-bottom: 60px;
}

/* Article File */
.artFile {
  padding: 5px 0 15px;
}

/* Start Editors Page */
.description {
  margin: 20px auto 0;
  border-left: 2px solid #CCC;
  padding: 0 20px 0 30px;
}
.description p {
  max-width: 800px;
  font-family: "Dosis";
  text-align: left;
  font-size: 17px;
  padding: 10px;
  margin-bottom: 17px;
  border: 1px solid #167cb5;
  line-height: 1;
  position: relative;
  /* The Triangle */
}
.description p:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #6EA9CB;
  border: 3px solid #2183BB;
  position: absolute;
  top: 10px;
  left: -40px;
}
.description p:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #8bb7d0 transparent transparent;
  border-width: 8px;
  position: absolute;
  left: -17px;
  top: 10px;
}
.description p .name {
  color: #285065;
}

.joinUs {
  margin: 20px 0 10px;
}
.joinUs p {
  line-height: 2.5;
}

/* End Editors Page */
/*********** About Pages Start ********** */
.about-us p, .about-publication p, .about-the-company p {
  line-height: 2;
  font-size: 16px;
}

/* About Us */
.about-us .special {
  padding: 5px 10px;
  background-color: #2786c9;
  color: #FFF;
  font-weight: bold;
  border-radius: 8px;
}

/* About the Publication */
.about-publication .pubFees {
  margin-top: 35px;
  line-height: 2.5;
}
.about-publication .pubFees b {
  font-size: 19px;
}

/* About the Company */
/********** About Pages End ********** */
/* Start Contact Us page */
.contactForm {
  padding-top: 50px;
  width: 91%;
  /* Send Button Style Start */
  /* Send Button Style End */
  /* Group style start */
  /* Group style End */
}
.contactForm .btn {
  margin-right: 50px;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
  padding: 15px;
  background-color: #F5F5F5;
  border: 2px solid transparent;
  transition: border-color 0.5s ease-in;
}
.contactForm .btn .glyphicon {
  padding-right: 10px;
}
.contactForm .btn:hover {
  border-color: #4C76FF;
}
.contactForm .btn i {
  margin-right: 10px;
}
.contactForm .group {
  position: relative;
  margin: 0 50px 50px 0;
}
.contactForm .group:nth-of-type(2) {
  margin-right: 0;
}
@media screen and (max-width: 457px) {
  .contactForm .group {
    margin: 0;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .contactForm .group {
    margin: 0 20px 30px 0;
  }
}
@media screen and (max-width: 716px) {
  .contactForm .group {
    margin-left: 13%;
  }
}
@media screen and (max-width: 502px) {
  .contactForm .group {
    margin-left: 0;
  }
}
.contactForm .group textarea {
  border: 1px solid #CCC;
  width: 100%;
  min-height: 100px;
  height: 200px;
  max-height: 300px;
}
.contactForm .group input {
  font-size: 21px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 350px;
  border: 1px solid #CCC;
}
@media screen and (max-width: 1200px) {
  .contactForm .group input {
    width: 300px;
  }
}
@media screen and (max-width: 716px) {
  .contactForm .group input {
    width: 400px;
  }
}
.contactForm .group label {
  color: #BFBFBF;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}
.contactForm .group textarea:valid ~ label,
.contactForm .group textarea:focus ~ label,
.contactForm .group input:focus ~ label,
.contactForm .group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #047AC5;
}

.contactInfo {
  padding-top: 50px;
  font-size: 16px;
}
.contactInfo .infoGroup p {
  color: #A8C3DA;
}
@media screen and (max-width: 991px) {
  .contactInfo .infoGroup {
    text-align: center;
    margin-top: 70px;
    width: 50%;
    float: left;
  }
}
@media screen and (max-width: 550px) {
  .contactInfo .infoGroup {
    float: none;
    width: 100%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 430px) {
  .contactInfo {
    font-size: 13px;
  }
}

/* End Contact Us page */
/* Events Page Start */
.eventTitle {
  padding: 0;
}
.eventTitle a {
  display: block;
  padding: 20px;
  color: #2096CD;
  font-size: 17px;
}
.eventTitle a .rtl {
  padding: 0 20px;
}

/* Events Page End */
/* Categories Page Start */
.row-temp {
  display: none;
}

#row-1, #row-2 {
  float: left;
  width: calc((100% - 40px) / 2);
  margin-right: 20px;
  padding: 20px 0 0;
}
@media screen and (max-width: 991px) {
  #row-1, #row-2 {
    float: none;
    width: 90%;
    margin-left: 5%;
    padding: 0;
  }
}

#row-2 {
  margin-right: 0;
}

.categoryInfo {
  width: 100%;
  margin-right: 2%;
  float: left;
  overflow: hidden;
}

.article-title:nth-of-type(odd) {
  background-color: #4475B7;
}
.article-title:nth-of-type(even) {
  background-color: #6C91C4;
}

.article-title a {
  display: block;
  padding: 10px 5px;
  color: #E7E7E7;
  text-decoration: none;
}

.last-published .panel-footer {
  padding: 0;
}

/* Categories Page End */
/* Unapproved Articles Page Start */
.username {
  position: relative;
}
.username:hover > .userInfo {
  display: block;
}
.username .userInfo {
  display: none;
  position: absolute;
  bottom: 35px;
  left: -50px;
  padding: 20px;
  width: 250px;
  background-color: #333;
  color: #EFEFEF;
  border: 3px solid #B7B7B7;
  border-radius: 5px;
}
.username:hover .indicator:before {
  z-index: 1;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 12px;
  top: -2px;
  border: 10px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #333;
}
.username:hover .indicator:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 11px;
  top: 0;
  border: 11px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #B7B7B7;
}

.abstract {
  line-height: 1.5;
  font-size: 17px;
}

.sendCommentForm {
  margin-top: 25px;
}
.sendCommentForm .form-control, .sendCommentForm button {
  margin: 15px 0;
}
.sendCommentForm textarea {
  height: 300px;
  max-height: 500px;
  font-size: 17px;
}

/* Unapproved Articles Page End */
/* Search Results Page */
.results-count {
  display: block;
  margin-bottom: 50px;
}

/* Incorrect Page */
.incorrect-page {
  font: 20px monospace, Courier;
  padding: 20px 50px;
  border: 1px solid #555;
  margin: 50px auto;
  text-align: left;
}
.incorrect-page .message p {
  line-height: 2;
}

/* Underline Text [Heading, span, etc...] */
/* Top Events Bar Start */
.breakingNews {
  width: 100%;
  height: 40px;
  background: #FFF;
  position: relative;
  border: solid 2px #2096cd;
  overflow: hidden;
}
.breakingNews > .bn-title {
  width: auto;
  height: 40px;
  display: inline-block;
  background: #2096cd;
  position: relative;
}
.breakingNews > .bn-title > h2 {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  line-height: 40px;
  font-size: 20px;
  color: #FFF;
  height: 40px;
  box-sizing: border-box;
}
.breakingNews > .bn-title > span {
  width: 0;
  position: absolute;
  right: -10px;
  top: 10px;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #2096cd;
}
.breakingNews > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  left: 210px;
  top: 0;
  right: 40px;
  height: 40px;
  font-size: 16px;
}
.breakingNews > ul > li {
  position: absolute;
  height: 40px;
  width: 100%;
  line-height: 40px;
  display: none;
}
.breakingNews > ul > li > a {
  text-decoration: none;
  color: #333;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
}
.breakingNews > ul > li > a > span, .breakingNews > ul > li > a:hover {
  color: #2096cd;
}
.breakingNews > .bn-navi {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
.breakingNews > .bn-navi > span {
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0.3;
  background-image: url(../img/events-arrows.png);
  background-repeat: no-repeat;
}
.breakingNews > .bn-navi > span:hover {
  opacity: 1;
}
.breakingNews > .bn-navi > span:first-child {
  background-position: left center;
  left: 0;
}
.breakingNews > .bn-navi > span:last-child {
  background-position: right center;
  right: 0;
}
.breakingNews:hover .bn-navi {
  opacity: 1;
}

.bn-bordernone {
  border: none;
}

.breakingNews > .bn-navi, .breakingNews > ul > li > a, .breakingNews > .bn-navi > span {
  transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -webkit-transition: 0.25s linear;
}

/* Top Events Bar End */
/* Back To Top Button Start */
.back-top {
  display: none;
  cursor: pointer;
  background-color: rgba(62, 138, 202, 0.7);
  background-color: #3E8ACA;
  position: fixed;
  bottom: 100px;
  right: 30px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  padding: 5px 0;
  border: 2px solid #FAFAFA;
  border-radius: 50%;
}
.back-top i {
  color: #94C8F4;
  font-size: 19px;
  transition: color 0.3s ease-in-out;
  top: 0;
}
@media screen and (max-width: 650px) {
  .back-top {
    display: none !important;
  }
}
.back-top:hover i {
  color: #FFF;
}
.back-top[title]:hover:before {
  content: attr(title);
  font-size: 11px;
  height: 30px;
  width: 77px;
  line-height: 33px;
  color: #FFF;
  border: 1px solid;
  position: absolute;
  right: -15px;
  bottom: 63px;
  background-color: #3E8ACA;
}
.back-top[title]:hover .indicator:before {
  z-index: 1;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 12px;
  top: -18px;
  border: 10px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #3E8ACA;
}
.back-top[title]:hover .indicator:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 11px;
  top: -17px;
  border: 11px solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: #FFF;
}

/* Back To Top Button End */
/* Underlined Text Start */
.underlined-text {
  position: relative;
  margin-bottom: 40px;
}

.underlined-text:before {
  position: absolute;
  content: "";
  display: block;
  background-color: #333;
  height: 2px;
  width: 115px;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

/* Showing sad face after the underlined text [mainly in Incorrect page] */
.underline-sadface .underlined-text:after {
  margin-left: 10px;
  content: "☹";
  font-size: 15px;
  transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

.underline-hover:hover .underlined-text:after {
  font-size: 33px;
  color: #f10000;
}
.underline-hover:hover .underlined-text:before {
  width: 175px;
}

/* Underlined Text End */
/**
 * Variables declared here can be overridden by consuming applications, with
 * the help of the `!default` flag.
 *
 * @example
 *     // overriding $hoverColor
 *     $hoverColor: rgba(red, 0.05);
 *
 *     // overriding image path
 *     $flagsImagePath: "images/";
 *
 *     // import the scss file after the overrides
 *     @import "bower_component/intl-tel-input/src/css/intlTelInput";
 */
.intl-tel-input {
  position: relative;
  display: inline-block;
}
.intl-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.intl-tel-input .hide {
  display: none;
}
.intl-tel-input .v-hide {
  visibility: hidden;
}
.intl-tel-input input, .intl-tel-input input[type=text], .intl-tel-input input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 36px;
  margin-right: 0;
}
.intl-tel-input .flag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1px;
}
.intl-tel-input .selected-flag {
  z-index: 1;
  position: relative;
  width: 36px;
  height: 100%;
  padding: 0 0 0 8px;
}
.intl-tel-input .selected-flag .iti-flag {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.intl-tel-input .selected-flag .iti-arrow {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 6px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.intl-tel-input .selected-flag .iti-arrow.up {
  border-top: none;
  border-bottom: 4px solid #555;
}
.intl-tel-input .country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
}
.intl-tel-input .country-list.dropup {
  bottom: 100%;
  margin-bottom: -1px;
}
.intl-tel-input .country-list .flag-box {
  display: inline-block;
  width: 20px;
}
@media (max-width: 500px) {
  .intl-tel-input .country-list {
    white-space: normal;
  }
}
.intl-tel-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
}
.intl-tel-input .country-list .country {
  padding: 5px 10px;
}
.intl-tel-input .country-list .country .dial-code {
  color: #999;
}
.intl-tel-input .country-list .country.highlight {
  background-color: rgba(0, 0, 0, 0.05);
}
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name, .intl-tel-input .country-list .dial-code {
  vertical-align: middle;
}
.intl-tel-input .country-list .flag-box, .intl-tel-input .country-list .country-name {
  margin-right: 6px;
}
.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel] {
  padding-right: 6px;
  padding-left: 52px;
  margin-left: 0;
}
.intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
  right: auto;
  left: 0;
}
.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
  width: 46px;
}
.intl-tel-input.allow-dropdown .flag-container:hover {
  cursor: pointer;
}
.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
.intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover, .intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover {
  cursor: default;
}
.intl-tel-input.allow-dropdown input[disabled] + .flag-container:hover .selected-flag, .intl-tel-input.allow-dropdown input[readonly] + .flag-container:hover .selected-flag {
  background-color: transparent;
}
.intl-tel-input.separate-dial-code .selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
  display: table;
}
.intl-tel-input.separate-dial-code .selected-dial-code {
  display: table-cell;
  vertical-align: middle;
  padding-left: 28px;
}
.intl-tel-input.separate-dial-code.iti-sdc-2 input, .intl-tel-input.separate-dial-code.iti-sdc-2 input[type=text], .intl-tel-input.separate-dial-code.iti-sdc-2 input[type=tel] {
  padding-left: 66px;
}
.intl-tel-input.separate-dial-code.iti-sdc-2 .selected-flag {
  width: 60px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 input[type=tel] {
  padding-left: 76px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag {
  width: 70px;
}
.intl-tel-input.separate-dial-code.iti-sdc-3 input, .intl-tel-input.separate-dial-code.iti-sdc-3 input[type=text], .intl-tel-input.separate-dial-code.iti-sdc-3 input[type=tel] {
  padding-left: 74px;
}
.intl-tel-input.separate-dial-code.iti-sdc-3 .selected-flag {
  width: 68px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 input[type=tel] {
  padding-left: 84px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
  width: 78px;
}
.intl-tel-input.separate-dial-code.iti-sdc-4 input, .intl-tel-input.separate-dial-code.iti-sdc-4 input[type=text], .intl-tel-input.separate-dial-code.iti-sdc-4 input[type=tel] {
  padding-left: 82px;
}
.intl-tel-input.separate-dial-code.iti-sdc-4 .selected-flag {
  width: 76px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=tel] {
  padding-left: 92px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 .selected-flag {
  width: 86px;
}
.intl-tel-input.separate-dial-code.iti-sdc-5 input, .intl-tel-input.separate-dial-code.iti-sdc-5 input[type=text], .intl-tel-input.separate-dial-code.iti-sdc-5 input[type=tel] {
  padding-left: 90px;
}
.intl-tel-input.separate-dial-code.iti-sdc-5 .selected-flag {
  width: 84px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=text], .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 input[type=tel] {
  padding-left: 100px;
}
.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-5 .selected-flag {
  width: 94px;
}
.intl-tel-input.iti-container {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 1060;
  padding: 1px;
}
.intl-tel-input.iti-container:hover {
  cursor: pointer;
}

.iti-mobile .intl-tel-input.iti-container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed;
}
.iti-mobile .intl-tel-input .country-list {
  max-height: 100%;
  width: 100%;
}
.iti-mobile .intl-tel-input .country-list .country {
  padding: 10px 10px;
  line-height: 1.5em;
}

.iti-flag {
  width: 20px;
}
.iti-flag.be {
  width: 18px;
}
.iti-flag.ch {
  width: 15px;
}
.iti-flag.mc {
  width: 19px;
}
.iti-flag.ne {
  width: 18px;
}
.iti-flag.np {
  width: 13px;
}
.iti-flag.va {
  width: 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-size: 5630px 15px;
  }
}
.iti-flag.ac {
  height: 10px;
  background-position: 0px 0px;
}
.iti-flag.ad {
  height: 14px;
  background-position: -22px 0px;
}
.iti-flag.ae {
  height: 10px;
  background-position: -44px 0px;
}
.iti-flag.af {
  height: 14px;
  background-position: -66px 0px;
}
.iti-flag.ag {
  height: 14px;
  background-position: -88px 0px;
}
.iti-flag.ai {
  height: 10px;
  background-position: -110px 0px;
}
.iti-flag.al {
  height: 15px;
  background-position: -132px 0px;
}
.iti-flag.am {
  height: 10px;
  background-position: -154px 0px;
}
.iti-flag.ao {
  height: 14px;
  background-position: -176px 0px;
}
.iti-flag.aq {
  height: 14px;
  background-position: -198px 0px;
}
.iti-flag.ar {
  height: 13px;
  background-position: -220px 0px;
}
.iti-flag.as {
  height: 10px;
  background-position: -242px 0px;
}
.iti-flag.at {
  height: 14px;
  background-position: -264px 0px;
}
.iti-flag.au {
  height: 10px;
  background-position: -286px 0px;
}
.iti-flag.aw {
  height: 14px;
  background-position: -308px 0px;
}
.iti-flag.ax {
  height: 13px;
  background-position: -330px 0px;
}
.iti-flag.az {
  height: 10px;
  background-position: -352px 0px;
}
.iti-flag.ba {
  height: 10px;
  background-position: -374px 0px;
}
.iti-flag.bb {
  height: 14px;
  background-position: -396px 0px;
}
.iti-flag.bd {
  height: 12px;
  background-position: -418px 0px;
}
.iti-flag.be {
  height: 15px;
  background-position: -440px 0px;
}
.iti-flag.bf {
  height: 14px;
  background-position: -460px 0px;
}
.iti-flag.bg {
  height: 12px;
  background-position: -482px 0px;
}
.iti-flag.bh {
  height: 12px;
  background-position: -504px 0px;
}
.iti-flag.bi {
  height: 12px;
  background-position: -526px 0px;
}
.iti-flag.bj {
  height: 14px;
  background-position: -548px 0px;
}
.iti-flag.bl {
  height: 14px;
  background-position: -570px 0px;
}
.iti-flag.bm {
  height: 10px;
  background-position: -592px 0px;
}
.iti-flag.bn {
  height: 10px;
  background-position: -614px 0px;
}
.iti-flag.bo {
  height: 14px;
  background-position: -636px 0px;
}
.iti-flag.bq {
  height: 14px;
  background-position: -658px 0px;
}
.iti-flag.br {
  height: 14px;
  background-position: -680px 0px;
}
.iti-flag.bs {
  height: 10px;
  background-position: -702px 0px;
}
.iti-flag.bt {
  height: 14px;
  background-position: -724px 0px;
}
.iti-flag.bv {
  height: 15px;
  background-position: -746px 0px;
}
.iti-flag.bw {
  height: 14px;
  background-position: -768px 0px;
}
.iti-flag.by {
  height: 10px;
  background-position: -790px 0px;
}
.iti-flag.bz {
  height: 14px;
  background-position: -812px 0px;
}
.iti-flag.ca {
  height: 10px;
  background-position: -834px 0px;
}
.iti-flag.cc {
  height: 10px;
  background-position: -856px 0px;
}
.iti-flag.cd {
  height: 15px;
  background-position: -878px 0px;
}
.iti-flag.cf {
  height: 14px;
  background-position: -900px 0px;
}
.iti-flag.cg {
  height: 14px;
  background-position: -922px 0px;
}
.iti-flag.ch {
  height: 15px;
  background-position: -944px 0px;
}
.iti-flag.ci {
  height: 14px;
  background-position: -961px 0px;
}
.iti-flag.ck {
  height: 10px;
  background-position: -983px 0px;
}
.iti-flag.cl {
  height: 14px;
  background-position: -1005px 0px;
}
.iti-flag.cm {
  height: 14px;
  background-position: -1027px 0px;
}
.iti-flag.cn {
  height: 14px;
  background-position: -1049px 0px;
}
.iti-flag.co {
  height: 14px;
  background-position: -1071px 0px;
}
.iti-flag.cp {
  height: 14px;
  background-position: -1093px 0px;
}
.iti-flag.cr {
  height: 12px;
  background-position: -1115px 0px;
}
.iti-flag.cu {
  height: 10px;
  background-position: -1137px 0px;
}
.iti-flag.cv {
  height: 12px;
  background-position: -1159px 0px;
}
.iti-flag.cw {
  height: 14px;
  background-position: -1181px 0px;
}
.iti-flag.cx {
  height: 10px;
  background-position: -1203px 0px;
}
.iti-flag.cy {
  height: 13px;
  background-position: -1225px 0px;
}
.iti-flag.cz {
  height: 14px;
  background-position: -1247px 0px;
}
.iti-flag.de {
  height: 12px;
  background-position: -1269px 0px;
}
.iti-flag.dg {
  height: 10px;
  background-position: -1291px 0px;
}
.iti-flag.dj {
  height: 14px;
  background-position: -1313px 0px;
}
.iti-flag.dk {
  height: 15px;
  background-position: -1335px 0px;
}
.iti-flag.dm {
  height: 10px;
  background-position: -1357px 0px;
}
.iti-flag.do {
  height: 13px;
  background-position: -1379px 0px;
}
.iti-flag.dz {
  height: 14px;
  background-position: -1401px 0px;
}
.iti-flag.ea {
  height: 14px;
  background-position: -1423px 0px;
}
.iti-flag.ec {
  height: 14px;
  background-position: -1445px 0px;
}
.iti-flag.ee {
  height: 13px;
  background-position: -1467px 0px;
}
.iti-flag.eg {
  height: 14px;
  background-position: -1489px 0px;
}
.iti-flag.eh {
  height: 10px;
  background-position: -1511px 0px;
}
.iti-flag.er {
  height: 10px;
  background-position: -1533px 0px;
}
.iti-flag.es {
  height: 14px;
  background-position: -1555px 0px;
}
.iti-flag.et {
  height: 10px;
  background-position: -1577px 0px;
}
.iti-flag.eu {
  height: 14px;
  background-position: -1599px 0px;
}
.iti-flag.fi {
  height: 12px;
  background-position: -1621px 0px;
}
.iti-flag.fj {
  height: 10px;
  background-position: -1643px 0px;
}
.iti-flag.fk {
  height: 10px;
  background-position: -1665px 0px;
}
.iti-flag.fm {
  height: 11px;
  background-position: -1687px 0px;
}
.iti-flag.fo {
  height: 15px;
  background-position: -1709px 0px;
}
.iti-flag.fr {
  height: 14px;
  background-position: -1731px 0px;
}
.iti-flag.ga {
  height: 15px;
  background-position: -1753px 0px;
}
.iti-flag.gb {
  height: 10px;
  background-position: -1775px 0px;
}
.iti-flag.gd {
  height: 12px;
  background-position: -1797px 0px;
}
.iti-flag.ge {
  height: 14px;
  background-position: -1819px 0px;
}
.iti-flag.gf {
  height: 14px;
  background-position: -1841px 0px;
}
.iti-flag.gg {
  height: 14px;
  background-position: -1863px 0px;
}
.iti-flag.gh {
  height: 14px;
  background-position: -1885px 0px;
}
.iti-flag.gi {
  height: 10px;
  background-position: -1907px 0px;
}
.iti-flag.gl {
  height: 14px;
  background-position: -1929px 0px;
}
.iti-flag.gm {
  height: 14px;
  background-position: -1951px 0px;
}
.iti-flag.gn {
  height: 14px;
  background-position: -1973px 0px;
}
.iti-flag.gp {
  height: 14px;
  background-position: -1995px 0px;
}
.iti-flag.gq {
  height: 14px;
  background-position: -2017px 0px;
}
.iti-flag.gr {
  height: 14px;
  background-position: -2039px 0px;
}
.iti-flag.gs {
  height: 10px;
  background-position: -2061px 0px;
}
.iti-flag.gt {
  height: 13px;
  background-position: -2083px 0px;
}
.iti-flag.gu {
  height: 11px;
  background-position: -2105px 0px;
}
.iti-flag.gw {
  height: 10px;
  background-position: -2127px 0px;
}
.iti-flag.gy {
  height: 12px;
  background-position: -2149px 0px;
}
.iti-flag.hk {
  height: 14px;
  background-position: -2171px 0px;
}
.iti-flag.hm {
  height: 10px;
  background-position: -2193px 0px;
}
.iti-flag.hn {
  height: 10px;
  background-position: -2215px 0px;
}
.iti-flag.hr {
  height: 10px;
  background-position: -2237px 0px;
}
.iti-flag.ht {
  height: 12px;
  background-position: -2259px 0px;
}
.iti-flag.hu {
  height: 10px;
  background-position: -2281px 0px;
}
.iti-flag.ic {
  height: 14px;
  background-position: -2303px 0px;
}
.iti-flag.id {
  height: 14px;
  background-position: -2325px 0px;
}
.iti-flag.ie {
  height: 10px;
  background-position: -2347px 0px;
}
.iti-flag.il {
  height: 15px;
  background-position: -2369px 0px;
}
.iti-flag.im {
  height: 10px;
  background-position: -2391px 0px;
}
.iti-flag.in {
  height: 14px;
  background-position: -2413px 0px;
}
.iti-flag.io {
  height: 10px;
  background-position: -2435px 0px;
}
.iti-flag.iq {
  height: 14px;
  background-position: -2457px 0px;
}
.iti-flag.ir {
  height: 12px;
  background-position: -2479px 0px;
}
.iti-flag.is {
  height: 15px;
  background-position: -2501px 0px;
}
.iti-flag.it {
  height: 14px;
  background-position: -2523px 0px;
}
.iti-flag.je {
  height: 12px;
  background-position: -2545px 0px;
}
.iti-flag.jm {
  height: 10px;
  background-position: -2567px 0px;
}
.iti-flag.jo {
  height: 10px;
  background-position: -2589px 0px;
}
.iti-flag.jp {
  height: 14px;
  background-position: -2611px 0px;
}
.iti-flag.ke {
  height: 14px;
  background-position: -2633px 0px;
}
.iti-flag.kg {
  height: 12px;
  background-position: -2655px 0px;
}
.iti-flag.kh {
  height: 13px;
  background-position: -2677px 0px;
}
.iti-flag.ki {
  height: 10px;
  background-position: -2699px 0px;
}
.iti-flag.km {
  height: 12px;
  background-position: -2721px 0px;
}
.iti-flag.kn {
  height: 14px;
  background-position: -2743px 0px;
}
.iti-flag.kp {
  height: 10px;
  background-position: -2765px 0px;
}
.iti-flag.kr {
  height: 14px;
  background-position: -2787px 0px;
}
.iti-flag.kw {
  height: 10px;
  background-position: -2809px 0px;
}
.iti-flag.ky {
  height: 10px;
  background-position: -2831px 0px;
}
.iti-flag.kz {
  height: 10px;
  background-position: -2853px 0px;
}
.iti-flag.la {
  height: 14px;
  background-position: -2875px 0px;
}
.iti-flag.lb {
  height: 14px;
  background-position: -2897px 0px;
}
.iti-flag.lc {
  height: 10px;
  background-position: -2919px 0px;
}
.iti-flag.li {
  height: 12px;
  background-position: -2941px 0px;
}
.iti-flag.lk {
  height: 10px;
  background-position: -2963px 0px;
}
.iti-flag.lr {
  height: 11px;
  background-position: -2985px 0px;
}
.iti-flag.ls {
  height: 14px;
  background-position: -3007px 0px;
}
.iti-flag.lt {
  height: 12px;
  background-position: -3029px 0px;
}
.iti-flag.lu {
  height: 12px;
  background-position: -3051px 0px;
}
.iti-flag.lv {
  height: 10px;
  background-position: -3073px 0px;
}
.iti-flag.ly {
  height: 10px;
  background-position: -3095px 0px;
}
.iti-flag.ma {
  height: 14px;
  background-position: -3117px 0px;
}
.iti-flag.mc {
  height: 15px;
  background-position: -3139px 0px;
}
.iti-flag.md {
  height: 10px;
  background-position: -3160px 0px;
}
.iti-flag.me {
  height: 10px;
  background-position: -3182px 0px;
}
.iti-flag.mf {
  height: 14px;
  background-position: -3204px 0px;
}
.iti-flag.mg {
  height: 14px;
  background-position: -3226px 0px;
}
.iti-flag.mh {
  height: 11px;
  background-position: -3248px 0px;
}
.iti-flag.mk {
  height: 10px;
  background-position: -3270px 0px;
}
.iti-flag.ml {
  height: 14px;
  background-position: -3292px 0px;
}
.iti-flag.mm {
  height: 14px;
  background-position: -3314px 0px;
}
.iti-flag.mn {
  height: 10px;
  background-position: -3336px 0px;
}
.iti-flag.mo {
  height: 14px;
  background-position: -3358px 0px;
}
.iti-flag.mp {
  height: 10px;
  background-position: -3380px 0px;
}
.iti-flag.mq {
  height: 14px;
  background-position: -3402px 0px;
}
.iti-flag.mr {
  height: 14px;
  background-position: -3424px 0px;
}
.iti-flag.ms {
  height: 10px;
  background-position: -3446px 0px;
}
.iti-flag.mt {
  height: 14px;
  background-position: -3468px 0px;
}
.iti-flag.mu {
  height: 14px;
  background-position: -3490px 0px;
}
.iti-flag.mv {
  height: 14px;
  background-position: -3512px 0px;
}
.iti-flag.mw {
  height: 14px;
  background-position: -3534px 0px;
}
.iti-flag.mx {
  height: 12px;
  background-position: -3556px 0px;
}
.iti-flag.my {
  height: 10px;
  background-position: -3578px 0px;
}
.iti-flag.mz {
  height: 14px;
  background-position: -3600px 0px;
}
.iti-flag.na {
  height: 14px;
  background-position: -3622px 0px;
}
.iti-flag.nc {
  height: 10px;
  background-position: -3644px 0px;
}
.iti-flag.ne {
  height: 15px;
  background-position: -3666px 0px;
}
.iti-flag.nf {
  height: 10px;
  background-position: -3686px 0px;
}
.iti-flag.ng {
  height: 10px;
  background-position: -3708px 0px;
}
.iti-flag.ni {
  height: 12px;
  background-position: -3730px 0px;
}
.iti-flag.nl {
  height: 14px;
  background-position: -3752px 0px;
}
.iti-flag.no {
  height: 15px;
  background-position: -3774px 0px;
}
.iti-flag.np {
  height: 15px;
  background-position: -3796px 0px;
}
.iti-flag.nr {
  height: 10px;
  background-position: -3811px 0px;
}
.iti-flag.nu {
  height: 10px;
  background-position: -3833px 0px;
}
.iti-flag.nz {
  height: 10px;
  background-position: -3855px 0px;
}
.iti-flag.om {
  height: 10px;
  background-position: -3877px 0px;
}
.iti-flag.pa {
  height: 14px;
  background-position: -3899px 0px;
}
.iti-flag.pe {
  height: 14px;
  background-position: -3921px 0px;
}
.iti-flag.pf {
  height: 14px;
  background-position: -3943px 0px;
}
.iti-flag.pg {
  height: 15px;
  background-position: -3965px 0px;
}
.iti-flag.ph {
  height: 10px;
  background-position: -3987px 0px;
}
.iti-flag.pk {
  height: 14px;
  background-position: -4009px 0px;
}
.iti-flag.pl {
  height: 13px;
  background-position: -4031px 0px;
}
.iti-flag.pm {
  height: 14px;
  background-position: -4053px 0px;
}
.iti-flag.pn {
  height: 10px;
  background-position: -4075px 0px;
}
.iti-flag.pr {
  height: 14px;
  background-position: -4097px 0px;
}
.iti-flag.ps {
  height: 10px;
  background-position: -4119px 0px;
}
.iti-flag.pt {
  height: 14px;
  background-position: -4141px 0px;
}
.iti-flag.pw {
  height: 13px;
  background-position: -4163px 0px;
}
.iti-flag.py {
  height: 11px;
  background-position: -4185px 0px;
}
.iti-flag.qa {
  height: 8px;
  background-position: -4207px 0px;
}
.iti-flag.re {
  height: 14px;
  background-position: -4229px 0px;
}
.iti-flag.ro {
  height: 14px;
  background-position: -4251px 0px;
}
.iti-flag.rs {
  height: 14px;
  background-position: -4273px 0px;
}
.iti-flag.ru {
  height: 14px;
  background-position: -4295px 0px;
}
.iti-flag.rw {
  height: 14px;
  background-position: -4317px 0px;
}
.iti-flag.sa {
  height: 14px;
  background-position: -4339px 0px;
}
.iti-flag.sb {
  height: 10px;
  background-position: -4361px 0px;
}
.iti-flag.sc {
  height: 10px;
  background-position: -4383px 0px;
}
.iti-flag.sd {
  height: 10px;
  background-position: -4405px 0px;
}
.iti-flag.se {
  height: 13px;
  background-position: -4427px 0px;
}
.iti-flag.sg {
  height: 14px;
  background-position: -4449px 0px;
}
.iti-flag.sh {
  height: 10px;
  background-position: -4471px 0px;
}
.iti-flag.si {
  height: 10px;
  background-position: -4493px 0px;
}
.iti-flag.sj {
  height: 15px;
  background-position: -4515px 0px;
}
.iti-flag.sk {
  height: 14px;
  background-position: -4537px 0px;
}
.iti-flag.sl {
  height: 14px;
  background-position: -4559px 0px;
}
.iti-flag.sm {
  height: 15px;
  background-position: -4581px 0px;
}
.iti-flag.sn {
  height: 14px;
  background-position: -4603px 0px;
}
.iti-flag.so {
  height: 14px;
  background-position: -4625px 0px;
}
.iti-flag.sr {
  height: 14px;
  background-position: -4647px 0px;
}
.iti-flag.ss {
  height: 10px;
  background-position: -4669px 0px;
}
.iti-flag.st {
  height: 10px;
  background-position: -4691px 0px;
}
.iti-flag.sv {
  height: 12px;
  background-position: -4713px 0px;
}
.iti-flag.sx {
  height: 14px;
  background-position: -4735px 0px;
}
.iti-flag.sy {
  height: 14px;
  background-position: -4757px 0px;
}
.iti-flag.sz {
  height: 14px;
  background-position: -4779px 0px;
}
.iti-flag.ta {
  height: 10px;
  background-position: -4801px 0px;
}
.iti-flag.tc {
  height: 10px;
  background-position: -4823px 0px;
}
.iti-flag.td {
  height: 14px;
  background-position: -4845px 0px;
}
.iti-flag.tf {
  height: 14px;
  background-position: -4867px 0px;
}
.iti-flag.tg {
  height: 13px;
  background-position: -4889px 0px;
}
.iti-flag.th {
  height: 14px;
  background-position: -4911px 0px;
}
.iti-flag.tj {
  height: 10px;
  background-position: -4933px 0px;
}
.iti-flag.tk {
  height: 10px;
  background-position: -4955px 0px;
}
.iti-flag.tl {
  height: 10px;
  background-position: -4977px 0px;
}
.iti-flag.tm {
  height: 14px;
  background-position: -4999px 0px;
}
.iti-flag.tn {
  height: 14px;
  background-position: -5021px 0px;
}
.iti-flag.to {
  height: 10px;
  background-position: -5043px 0px;
}
.iti-flag.tr {
  height: 14px;
  background-position: -5065px 0px;
}
.iti-flag.tt {
  height: 12px;
  background-position: -5087px 0px;
}
.iti-flag.tv {
  height: 10px;
  background-position: -5109px 0px;
}
.iti-flag.tw {
  height: 14px;
  background-position: -5131px 0px;
}
.iti-flag.tz {
  height: 14px;
  background-position: -5153px 0px;
}
.iti-flag.ua {
  height: 14px;
  background-position: -5175px 0px;
}
.iti-flag.ug {
  height: 14px;
  background-position: -5197px 0px;
}
.iti-flag.um {
  height: 11px;
  background-position: -5219px 0px;
}
.iti-flag.us {
  height: 11px;
  background-position: -5241px 0px;
}
.iti-flag.uy {
  height: 14px;
  background-position: -5263px 0px;
}
.iti-flag.uz {
  height: 10px;
  background-position: -5285px 0px;
}
.iti-flag.va {
  height: 15px;
  background-position: -5307px 0px;
}
.iti-flag.vc {
  height: 14px;
  background-position: -5324px 0px;
}
.iti-flag.ve {
  height: 14px;
  background-position: -5346px 0px;
}
.iti-flag.vg {
  height: 10px;
  background-position: -5368px 0px;
}
.iti-flag.vi {
  height: 14px;
  background-position: -5390px 0px;
}
.iti-flag.vn {
  height: 14px;
  background-position: -5412px 0px;
}
.iti-flag.vu {
  height: 12px;
  background-position: -5434px 0px;
}
.iti-flag.wf {
  height: 14px;
  background-position: -5456px 0px;
}
.iti-flag.ws {
  height: 10px;
  background-position: -5478px 0px;
}
.iti-flag.xk {
  height: 15px;
  background-position: -5500px 0px;
}
.iti-flag.ye {
  height: 14px;
  background-position: -5522px 0px;
}
.iti-flag.yt {
  height: 14px;
  background-position: -5544px 0px;
}
.iti-flag.za {
  height: 14px;
  background-position: -5566px 0px;
}
.iti-flag.zm {
  height: 14px;
  background-position: -5588px 0px;
}
.iti-flag.zw {
  height: 10px;
  background-position: -5610px 0px;
}

.iti-flag {
  width: 20px;
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("../img/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 20px 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {
    background-image: url("../img/flags@2x.png");
  }
}

.iti-flag.np {
  background-color: transparent;
}

/* Hide Placeholder on focus Start */
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s ease;
  opacity: 0;
}

/* Hide Placeholder on focus End */
/* Custom Input Field Start */
.custIn {
  border-radius: 0;
  box-shadow: none;
  font-size: 17px;
  padding: 20px 5px 20px 10px;
  margin: 15px 0;
  background-color: #FBFBFB;
  transition: background-color 0.4s ease-in-out;
}
.custIn:focus {
  background-color: #FFF;
  box-shadow: none !important;
}

textarea.custIn {
  height: 300px;
  max-height: 600px;
}

input[type=file] {
  background-color: transparent;
}
input[type=file]:hover {
  cursor: pointer;
}

input.custIn[placeholder]::-webkit-input-placeholder {
  font-size: 13px !important;
}

/* Custom Input Field End */
/* CTA Button */
.cta {
  padding: 20px;
}
.cta .btn:hover {
  color: #FFF !important;
  background-color: #3E8ACA !important;
  border-color: #20659E !important;
}

/* Badge Style Start */
.badge {
  background-color: #E71818;
  line-height: normal;
}

/* Badge Style End */
/* Custom Check Box Start */
.termsCheck {
  cursor: pointer;
  font-weight: normal;
  text-transform: capitalize;
  padding: 20px 0;
}
.termsCheck .custCheckbox {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.termsCheck .custCheckbox label {
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 1px;
  left: -10px;
  background-color: #FFF;
  border: 1px solid #2672B3;
  border-radius: 50%;
}
.termsCheck .custCheckbox label:before {
  content: "";
  width: 12px;
  height: 6px;
  border: 3px solid #FFF;
  position: absolute;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 9px;
  left: 7px;
  opacity: 0;
}
.termsCheck .custCheckbox input[type=checkbox] {
  visibility: hidden;
}
.termsCheck .custCheckbox input[type=checkbox]:checked + label:before {
  opacity: 1;
}
.termsCheck .custCheckbox input[type=checkbox]:checked + label {
  background-color: #337ab7;
}

/* Custom Check Box End */
/* Admin Colors Variables */
/* Admin Side Navigation Toggle Button */
.adminSideNavToggle {
  padding: 30px;
}
.adminSideNavToggle button {
  width: 60px;
  height: 35px;
  color: #888;
  background-color: #FAFAFA;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}
.adminSideNavToggle button i {
  font-size: 19px;
  line-height: 0.6;
}

/* Admin Side Navigation Menu */
.adminSideNav {
  background-color: #4396CA;
  padding: 0;
  margin-top: -20px;
}
@media screen and (max-width: 991px) {
  .adminSideNav {
    margin-bottom: 50px;
  }
  .adminSideNav .adminNavHeader h3, .adminSideNav .AdminNavLinks li a {
    padding: 30px !important;
  }
}
@media screen and (max-width: 767px) {
  .adminSideNav {
    display: none;
    min-height: auto;
  }
}
.adminSideNav .menu .adminNavHeader h3 {
  margin: 0;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 21px;
  background-color: #2a6d96;
}
.adminSideNav .menu .AdminNavLinks {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.adminSideNav .menu .AdminNavLinks li a {
  display: list-item;
  padding: 20px 0 20px 10px;
  color: white;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
@media screen and (max-width: 1120px) {
  .adminSideNav .menu .AdminNavLinks li a {
    padding-left: 0;
  }
}
.adminSideNav .menu .AdminNavLinks li a span {
  transition: padding-right 0.2s ease;
}
.adminSideNav .menu .AdminNavLinks li a:hover {
  cursor: pointer;
  background-color: #3384b6;
  text-decoration: none;
}
.adminSideNav .menu .AdminNavLinks li a:hover span {
  padding-right: 5px;
}

/* Active Link */
.activeLink {
  background-color: #3384b6;
}

/* Admin Home Page Style */
/* General Statistics Start */
.statistics .panel-heading {
  padding: 0;
}

.statObject {
  display: block;
  padding: 25px 0;
}

/* General Statistics End */
/* Last Statistics Start */
.lastStatistics .panel-body {
  padding: 0;
}
.lastStatistics .panel-body ul {
  padding-left: 0;
}
.lastStatistics .panel-body ul li {
  list-style-type: none;
}
.lastStatistics .panel-body ul li a {
  display: inherit;
  padding: 15px;
  border-bottom: 1px solid #CCC;
}
.lastStatistics .panel-body ul li:last-of-type a {
  border-bottom: 0;
}

/* Last Statistics End */
/* Admin Users page */
.option {
  margin: 0 5px;
}

/* Unapproved Articles */
/* Approved Articles */
.unapproveArt {
  display: inline-block;
  margin: 0 5px;
}

/* Publish Artciles Page Start */
.tabs .publishTab {
  cursor: pointer;
  background-color: #EEE;
  color: #A6C2DC;
  padding: 5px;
  border: 1px solid #DDD;
  font-size: 15px;
  font-family: "Arvo", serif;
  font-weight: normal;
}
.tabs .publishTab:first-of-type {
  margin-right: 20px;
}

.tabs .publishTab.selected {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: #619DD5;
  padding: 5px 15px;
  border-radius: 5px;
}
.tabs .publishTab.selected:after {
  position: absolute;
  left: 40px;
  top: 30px;
  content: "";
  width: 0;
  height: 0;
  border: 20px solid;
  border-top-color: #EEE;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}

.issueAndPublish {
  padding-top: 20px;
  margin-top: 40px;
  margin-left: 40px;
  border-top: 1px solid #ccc;
}
.issueAndPublish .issue {
  display: none;
}
.issueAndPublish .issue .form-control {
  margin: 20px 0;
}

/* Publish Article Start */
.publish form {
  margin: 20px 0 50px;
}
.publish form .form-group {
  margin-bottom: 15px;
}
.publish form .form-group select {
  width: 250px;
  height: 30px;
  border: 1px solid #3e8aca;
  padding: 3px 5px;
  margin-left: 10px;
}
.publish form .form-group textarea {
  height: 250px;
  max-height: 500px;
}

/* Publish Article End */
.publishArticle {
  margin-top: 30px;
}

/* Publish Artciles Page End */
/* Categories Page Start */
.adCats .form-control {
  height: 35px;
  margin-bottom: 20px;
}

/* Categories Page End */
/* Events Page Start */
.adEvents input.form-control {
  height: 35px;
}
.adEvents textarea {
  height: 300px;
  max-height: 500px;
}

/* Events Page End */
/* Editor Page Start */
.adEditors textarea {
  height: 250px;
  max-height: 400px;
}

/* Editor Page End */
/* All Admin Global Modules */
.empty {
  color: #D81010;
}

.adminPageHeading {
  margin-bottom: 40px;
}

.abstract {
  padding: 15px 0;
}
